/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- STYLES PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
// Styles globaux

/**-- style du fil d'ariane --**/

.ariane .breadcrumb {
    padding: 0 0 0 0.3em;
    color: #d63e2a;
    text-decoration: none;
    //    background: chocolate;//supprimer en PROD
    display: none;//masqué sur mobile
    a {
        color:#4e4d5e;
        text-decoration:none;
        background: white;
        text-transform: capitalize;
        font-size: smaller;
        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
    span.menu-item-container{
        display: none;

    }
}
/*TABLES STYLES DIVERS*/
.table_generik{
    border: 0;
    width: 97%;
    margin:0 auto;
    tr{
        border: 0px solid black;
        &:nth-child(odd){
            background: #ADC91F;
            color: white;
        }
        &:nth-child(even){
            background: transparent;
            color: black;
        }
    }

    td{
        border: 0px solid black;

    }
    tr.titre td{
        padding: 2px;
    }
}

#table_frais{
    border: 0;
    width: 100%;
}
#table_frais tr:nth-child(odd){
    color: #606171;
    background: #ACC624;
}
#table_frais tr:nth-child(even){
    color: #E85231;
    background: white;
}
/*Table resultats examens*/
#table-resultats{
    border: 0;
    width: 100%;
    text-align: center;
}
#table-resultats tr.line_1{
    color: #606171;
    background: #F19601;
}
#table-resultats tr.line_2{
    color: #E85231;
    background: white;
}