/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- STYLES PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
// Styles globaux

/**-- style du fil d'ariane --**/

.ariane .breadcrumb {
    padding: 0 0 0 0.3em;
    color: #d63e2a;
    text-decoration: none;
//    background: chocolate;//supprimer en PROD
    a {
        color:#4e4d5e;
        text-decoration:none;
        background: white;
        text-transform: capitalize;
        font-size: smaller;
        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
    span.menu-item-container{
        display: none;
        
    }
}