/*
Déplacement de div particulier.
Quand la réorganisation via susy ne suffit pas
*/

/*//////////////////////\\\\\\\\\\\\\\\\\\\\\\
********** DEPLACEMENT DE DIV SUR MOBILE *****
\\\\\\\\\\\\\\\\\\\\\\\//////////////////////*/

body .conteneur {
    $off-canvas-width: span(2 wide);
    $off-canvas-height: 10em;
    .transformer {
        height: $off-canvas-height;
        @include trans-prep;
        transition: transform 0.3s ease;
        //display: none;
        &.is-open {
            //transform: translate3d($off-canvas-width, 0, 0);
            transform: translate3d(0, $off-canvas-height, 0);
        }
    }
    .off-canvas {
        // display: none;
        position: absolute;
        width: 100%;
        left: 0;
        top: -$off-canvas-height;//position de départ
        bottom: 0;
        height: $off-canvas-height;//limite la hauteur du bloc

    }
    .menu-toggle, .transformer.is-open > .menu-toggle{
        // display: none;
        position: relative;
        padding: 0.3em;
        left: 30%;
        top: 0em;
        //Coins arrondis
        border-radius: 0 0 em(8px) em(8px);
        background: #555;
        color: #fff;
        text-decoration: none;
        z-index:35;//pour passer au dessus du header en mobile

        /* CSS3 : pour IE, fixer rotation */
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
   @include breakpoint ($desktop){
$off-canvas-height: 10em;        
        .transformer {

            transition: transform 0.3s ease;
            &.is-open {
                transform: translate3d(0, $off-canvas-height, 0);
            }
        }
        .off-canvas{
            position: absolute;
            width: 100%;
            left: 0;
            top: -$off-canvas-height;//position de départ
            bottom: 0;
            height: $off-canvas-height;//limite la hauteur du bloc
        }
    .menu-toggle, .transformer.is-open > .menu-toggle{
            position: relative;
            padding: 0.3em;
            left: 40%;
            top: -2.0em;
            /* CSS3 : pour IE, fixer rotation */
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        }

  }
}

/*Volet sur coté gauche en mobile*/
/*    $off-canvas-width: span(2 wide);

    .transformer {
        @include trans-prep;
        transition: transform 0.3s ease;
        //display: none;
        &.is-open {
            transform: translate3d($off-canvas-width, 0, 0);
        }
    }
    .off-canvas {
       // display: none;
        position: absolute;
        width: $off-canvas-width;
        left: -$off-canvas-width;
        top: 1em;//position de départ
        bottom: 0;
        height: auto;//limite la hauteur du bloc

    }
    .menu-toggle, .transformer.is-open > .menu-toggle{
       // display: none;
        position: absolute;
        padding: 0 gutter();
        Coins arrondis
        border-radius: 0 0 em(8px) em(8px);
        background: #555;
        color: #fff;
        text-decoration: none;
        padding: 0.3em;
        top: 4em;
        left: -4em;
        z-index:35;//pour passer au dessus du header en mobile
        
         quelques styles CSS3 
        -ms-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }*/