// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       CONTENU ACTU PRESSE ASSO       |
|--------------------------------------*/

//@include susy-breakpoint ($mobile){}
//@include susy-breakpoint ($desktop){}
//@include susy-breakpoint ($tablet){}

#colonne-2.actu-presse{
    @include susy-breakpoint ($desktop){
        @include border-L-violet;
    }
}
.actu-presse 
{
    h1.titre_page{
        @include titre-page;
        color: $orange-fonce;
        line-height: normal;
    }
    h3{
        color: #931B7D;
        font-size: 14px;
        margin:5px;
    }
    h4{
        color: #01ABCF;
        font-size: 12px;
    }
    p{
        padding: 0.3em;
    }
    img{padding: 0;}
    a{  color: #D63E2A;font-weight: bold;text-decoration: none;
        &:hover{text-decoration: underline;}
    }
    @include breakpoint(($desktop,$tablet))
    {
        @include border-L-rose;
    }

}

.actu-minipresse{float: right;}
.actu-minipresse img{
    @include adaptable-img;
    border: em(2px) solid #ADC91F;
    margin: em(5px);
}
.field-field-minipresse img{
    float: right;
    padding: 3px;
    margin: 0;
    line-height: 0;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    box-shadow: 0px 0px 5px #888;
}
table#doc-joints
{
    width: em(200px);margin: 10px auto;background: transparent;
    a{color: #911381;}
    th{text-align: center;font-size: em(14px);color: #606070;border-bottom: 3px solid #E85231;}
    td{padding: em(2px);}
    tbody, tr{background: transparent;border-bottom: 1px dashed #606070;}
    thead{}

}


.slideshare,.video{width: em(500px);margin: 0 auto;}
.slideshare{}
.galerie{}
/*Galerie modale Actu*/
table.galerie-modale-actu {
    margin: 0 auto;width: 95%;
    tbody{}
    img{
        border: 3px solid #E85231;}
    a{
        &:hover{}
    }
}

/*GA Theming*/
#block-views-GA_theming-block_1{
    margin: em(5px) auto;
    img{
        border: em(2px) solid #00ACD1;padding: 1px;}
}
/*Table pour JPO*/
.table-jpo{display: block;margin: 0 auto;width: 95%;}
.table-jpo tbody{}
.table-jpo tr{ border-bottom: em(1px) solid #E86064;display: block;margin: 0.3em 0;}
.table-jpo tr:hover{background: #F2F2F2;}
.table-jpo td{padding: 0 0.9em;}
.table-jpo a{}
.table-jpo a:hover{}
/*Zone actu au hasard (Views) = devient liste avec Susy*/
#block-views-liste_actu-block_1 h3{font-size: larger;font-style: italic;}
/*nouvelle classe pour le wrapper (div) : actu-hasard-list*/
.actu-hasard-list{
    background: url(../images/bg_nav_backoffice.gif) repeat scroll left top;
    width: 98%;
    padding: gutter();
    li{
        list-style: none;
    }
    ul.actu-hasard-list-ul{}

    a{color: #E0001A;font-size: medium;}
    img{border: em(1px) solid #ADC91F;margin: em(2px);overflow: hidden;}

    @include breakpoint(($desktop,$tablet)){
        /* Adding a clearfix because all children elements are floated */
        @include clearfix;
        li{

            @include span(1 of 4);
            &:last-child {
                @include last;
            }
        }
    }


}

table#actu-hasard
{
    background: url(../images/bg_nav_backoffice.gif) repeat scroll left top;
    width: 98%;margin: 0 auto;
    a{color: #E0001A;}
    img{border: em(1px) solid #ADC91F;margin: em(2px);overflow: hidden;}
    td{margin: em(3px);width: auto;padding: em(5px) 0;}
}