// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|             FICHE BTS                |
|--------------------------------------*/

 //@include breakpoint ($mobile){}
  //@include breakpoint ($desktop){}
  //@include breakpoint ($tablet){}

  /*######-------- ||| BORDURES ||| --------######*/
  body .conteneur {
      @include breakpoint ($desktop){
          #bloc-4.fiche-bts{
              @include border-L-orangePF;
              padding: 0.3em;
          }
      }
  }
/*######-------- ||| STYLE ||| --------######*/
h1.titre-fiche-bts{
    margin: 0 0 0.3em 0;
    padding: em(5px);
    color: $orange-fonce;
    font-size: em(24px);
    line-height: 1em;
}
#abreviation-bts{
     color: #94127F;
    float: right;
    padding: 0 em(5px);
    font-style: italic;
    text-align: right;display: block;margin: em(5px);
}
#intro-fiche-bts{
    padding: em(25px) em(7px);
    width: auto;
    /*-moz-box-shadow: 0px 7px 8px #606171;
    -webkit-box-shadow: 0px 7px 8px #606171;
    box-shadow: 0px 7px 8px #606171;
    */
    h2{
        font-size:x-large;
        color: $vert;
        /*google font*/
        font-family: 'Ubuntu',sans-serif;
    }
    @include breakpoint ($desktop){
        background:  url(../images/bg_intro_bts_bas.jpg) no-repeat scroll left bottom;
    }
    @include breakpoint ($tablet){
        background:  url(../images/bg_intro_bts_bas.jpg) no-repeat scroll left bottom;
    }
}


#illus-fiche-bts{
   border: em(3px) solid $bleu-turquoise;
    box-shadow: 0 0 em(5px) #888888;
    display: block;
    height: em(150px);
    margin: 0 auto;
    width: em(290px);
    

}


/*effet css3 pour fiche BTS*/
.fiche-bts .complement-bts{
    display:block;
    width:4em;
    height:4em;
    background:#fe0;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform: rotate(45deg);/*Pour IE*/
    position:relative;
    top:0em;
    left:2em;
    text-align:center;
    text-decoration:none;
    color:#000;
    font-weight:bold;
    margin: 0 5em;
    span{
        display:block;
        width:4em;
        height:4em;
        background:#fe0;
        -webkit-transform:rotate(-21.5deg);
        -moz-transform:rotate(-21.5deg);
        transform: rotate(-22.5deg);/*Pour IE*/
    }
    span h3{
       max-width: 6em;
       @include cesure-txt;
       @include clignote();//avec 1 to 0 duration 1s
    }
    h3{color: $bleu-turquoise;padding: 1.5em 0;font-size: small;}
}
 
 
 
/*table infos pratiques*/
table#infos-pratiques-bts { 
    border-top: em(1px) solid  $vert;
    border-bottom: em(2px) solid $gris-anthracite;
    width: 100%;
    tbody{}
    tr{}
    td{padding: em(2px);background: $gris-clair;vertical-align: top;}
    a{}
    &a:hover{}
    td h4{text-align: center;color: $rose-fushia;
          text-shadow: 0px 0px em(5px) #606171;
          filter: dropshadow(color=#606171, offx=0, offy=0);
          font-family: 'IM Fell English', serif;
          behavior: url(/sites/all/libraries/PIE/PIE.htc);
          position: relative;
          font-size: large;
    }
    ul{
         padding: 0;
         margin:0;
        li{
            line-height: 2.1em;
        }
    }
}
td.col1{
    background: none ;
    width: 33%;
}
td.col2{
    background: #D0D1D2;
}
td.col3{
    background: none ;
}
td.col1 :hover{
   
}

/*Partie liens*/
#liens-fiche-bts{
    tr{}
    td{}
}

/*Bloc infos en plus */
#info-plus-fiche-bts{
    background-color: #EFEFEF;
    bottom: 0;
    display: block;
    margin: 0 auto;
    padding: 0.5em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    width:93%;
    a{
        color: #01ABCF;
        text-decoration: none;
    }
    &a:hover{
        text-decoration: underline;
    }
    h3{
        font-family: Arista,Trebuchet MS,sans serif;
        color: #01ABCF;
    }
}

#fiche-detaille-bts{
    display: block;
    a{
        color: #F29400;
    }
}

/*bodyfield content*/
.fiche-bts
{h2,h3{padding: 0; margin: 0;line-height: 1em;}}
.fiche-bts{
    h3{
        font-size: 1.2em;
        color: #91127D;
       }
    h2{
        font-size:x-large;
        color: $vert;
    }
    strong {
        color: #EA703F;
    }
    p{
        padding:5px 0;
    }
    a{
        color: #d63e2a;
        text-decoration: none;
        font-weight: bold;
    }
    &a:hover{
        text-decoration: underline;
    }  
} 
/*** TAXONOMIE pour liste issue code PHP *****/
#taxonomy{
    text-align:right;
    padding: em(3px);
    margin: 0px;
    color:$gris-anthracite;
    ul{
        list-style: none;
    }
    li{
        list-style: none;
        text-transform: capitalize;
        font-size:0.8em;
        line-height:1.1em;
        @include breakpoint ($desktop){
            line-height:0.3em;
        }
    }
    a{
        color: #d63e2a;
        text-decoration:none;
    }
    &a:hover{
        text-decoration:underline;
    }
}