// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|             FICHE BTS                |
|--------------------------------------*/

 //@include breakpoint ($mobile){}
  //@include breakpoint ($desktop){}
  //@include breakpoint ($tablet){}
/************** NODE.TPL ***********************/
#abreviation-bts{
     color: #94127F;
    float: right;
    padding: 0 5px;
    font-style: italic;
}
#intro-fiche-bts{
    background:  url(../images/bg_intro_bts_bas.jpg) no-repeat scroll left bottom;
    padding: 25px 7px;
    width: 295px;
    /*-moz-box-shadow: 0px 7px 8px #606171;
    -webkit-box-shadow: 0px 7px 8px #606171;
    box-shadow: 0px 7px 8px #606171;
*/

}
#intro-fiche-bts h2,#middle-content-fiche-bts h2{
    font-size:x-large;
    color: $vert;
    /*google font*/
    font-family: 'Ubuntu',sans-serif;
}

#illus-fiche-bts{
   border: 3px solid #02A7D5;
    box-shadow: 0 0 5px #888888;
    display: block;
    height: 150px;
    margin: 0 auto;
    width: 290px;
    

}

#abreviation-bts{text-align: right;display: block;margin: 5px;}
/*effet css3 pour fiche BTS*/
#colonne-1.fiche-bts .complement-bts{
    display:block;
    width:6em;
    height:6em;
    background:#fe0;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform: rotate(45deg);/*Pour IE*/
    position:relative;
    top:0em;
    left:2em;
    text-align:center;
    text-decoration:none;
    color:#000;
    font-weight:bold;
    margin: 0 5em;
    span{
        display:block;
        width:6em;
        height:6em;
        background:#fe0;
        -webkit-transform:rotate(-21.5deg);
        -moz-transform:rotate(-21.5deg);
        transform: rotate(-22.5deg);/*Pour IE*/
    }
    @-moz-keyframes blinker {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

    @-webkit-keyframes blinker {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

    @keyframes blinker {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }
    span p{
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;

        -moz-animation-name: blinker;
        -moz-animation-duration: 1s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;

        animation-name: blinker;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite; 
    }
    h3{color: $bleu-turquoise;padding: 1.5em 0;}
}
 
 
 
/*table infos pratiques*/
table#infos-pratiques-bts { 
    border-top: em(1px) solid  $vert;
    border-bottom: em(2px) solid $gris-anthracite;
    margin: 0 auto;
    width: 99%;
    tbody{}
    tr{}
    td{padding: em(2px);background: $gris-clair;vertical-align: top;}
    a{}
    &a:hover{}
    td h4{text-align: center;color: $rose-fushia;
          text-shadow: 0px 0px em(5px) #606171;
          filter: dropshadow(color=#606171, offx=0, offy=0);
          font-family: 'IM Fell English', serif;
          behavior: url(/sites/all/libraries/PIE/PIE.htc);
          position: relative;
          font-size: small;
    }
}
td.col1{
    background: none ;
    width: 33%;
}
td.col2{
    background: #D0D1D2;
}
td.col3{
    background: none ;
}
td.col1 :hover{
    background: blue ;
}
td:hover.col2{
    background: yellow;
}
td:hover.col3{
    background: #F39300;
}
/*Partie liens*/
#liens-fiche-bts{
    tr{}
    td{}
}

/*Bloc infos en plus */
#info-plus-fiche-bts{
    background-color: #EFEFEF;
    bottom: 0;
    display: block;
    margin: 5px 0;
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    a{
        color: #01ABCF;
        text-decoration: none;
    }
    &a:hover{
        text-decoration: underline;
    }
    h3{
        font-family: Arista,Trebuchet MS,sans serif;
        color: #01ABCF;
    }
}

#fiche-detaille-bts{
    display: block;
    a{
        color: #F29400;
    }
}

/*bodyfield content*/
#colonne-1.fiche-bts,#colonne-2.fiche-bts
{h2,h3{padding: 0; margin: 0;line-height: 1em;}}
#colonne-2.fiche-bts{
    h3{
        font-size: 1.2em;
        color: #91127D;
       }
    h2{
        font-size:x-large;
        color: $vert;
    }
    strong {
        color: #EA703F;
    }
    p{
        padding:5px 0;
    }
    a{
        color: #d63e2a;
        text-decoration: none;
        font-weight: bold;
    }
    &a:hover{
        text-decoration: underline;
    }  
} 
/*** TAXONOMIE pour liste issue code PHP *****/
#taxonomy{
    text-align:right;
    padding: em(3px);
    margin: 0px;
    color:$gris-anthracite;
    ul{
        list-style: none;
    }
    li{
        list-style: none;
        text-transform: capitalize;
        line-height:0.3;
        font-size:0.8em;
    }
    a{
        color: #d63e2a;
        text-decoration:none;
    }
    &a:hover{
        text-decoration:underline;
    }
}