// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|             PAGE RECRUTEMENT         |
|--------------------------------------*/

 //@include breakpoint ($mobile){}
  //@include breakpoint ($desktop){}
  //@include breakpoint ($tablet){}
  
  #colonne-2.page-recrutement{
      table,tbody,tr,td,form,input[type="text"],input[type="email"]{
          width: 98%;display: block;
      }
      tbody{
          border: 0;
      }
      a{
          color: $orange-fonce;
          text-decoration:none;
          &:hover{
              text-decoration: underline;
          }
      }
      aside{
          padding: 0.3em;
      }
      @include breakpoint ($desktop){
          @include border-L-violet;
      }

  }
  #colonne-1.page-recrutement {
      h1.titre{
      color: $orange-fonce;
  }
  h2{color: $bleu-turquoise;}
  h3{color: $rose-fushia;}
  h4{} 
  p{padding: 0;margin: 0;}
  .docs-enseignant{
     margin: 0.3em;
      a{text-decoration: none;color: $orange-fonce;
        &:hover{
          text-decoration: underline;  
        }
      }
  }
  }