// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                     |
|             PAGE ESPACE                  |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #bloc2-flex.espace-entreprise{order:1;}
    #colonne-2.CLASS_NAME{order:2;}
    #colonne-3.CLASS_NAME{order:3;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex{
   @include breakpoint(($desktop,$tablet)){
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
h1.title-page-bloc{
    font-size: xx-large;
    font-family: arista,Trebuchet MS, sans-serif;
    text-align: center;
    color: $violet;
    text-transform: uppercase;
    margin: 1em 0 0 0;    
}
/*$$$$$$---- ENTREPRISES ----$$$$$*/
.espace-entreprise{
    .nav-espace-entreprise{
        ul{
            @include horizontal-list-container;//Compass Mixin
            @include break;
            li{
                 @include horizontal-list-item;//Compass Mixin
                a{}
            }
        }
    }
}

/*$$$$$$---- PARTENAIRES ----$$$$$*/
.espace-partenaire{
     .nav-espace-partenaire{
        ul{
            li{
                a{}
            }
        }
    }
}