// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                     |
|             PAGE ESPACE                  |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #bloc2-flex.espace-entreprise{order:1;}
    #colonne-2.CLASS_NAME{order:2;}
    #colonne-3.CLASS_NAME{order:3;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex{
   @include breakpoint(($desktop,$tablet)){
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
h1.title-page-bloc{
    font-size: xx-large;
    font-family: arista,Trebuchet MS, sans-serif;
    text-align: center;
    color: $orange-fonce;
    text-transform: uppercase;
    margin: 1em 0 0 0;    
}
/*$$$$$$---- ENTREPRISES ----$$$$$*/
.espace-entreprise{
    .nav-espace-entreprise{
        ul{
            @include horizontal-list-container;//Compass Mixin
            @include break;
            padding:0 0 0 0.6em;
            li{
                 @include horizontal-list-item;//Compass Mixin
                a{}
            }
        }
    }
}
#bloc2-flex,#bloc3-flex,#bloc4-flex,#bloc5-flex{
    padding : 0 0 0 0.3em;//centrer le contenu dans la colonne
        ul{
           
            li{
                 list-style: none;
                 margin:0 0 0.2em 1em;
                a{
                    text-decoration: none;
                    color:$gris-anthracite;
                    font-size: large;
                    display:block;
                    padding: 0.3em;
                   // &:hover{color: inherit;}
                }
            }
        }
    }
    /*design differencié pour les boutons de chaque listes*/
    #bloc2-flex,#bloc3-flex,#bloc4-flex,#bloc5-flex{
    .espace-devenir-partenaire{
        ul{

            li{

                a{
                    background:$gris-clair;
                        &:hover{color: $orange-fonce;}
                }
            }
        }
    }
    .espace-accueillir-jeune{
        ul{

            li{

                a{
                     color:$gris-clair;
                     background:$gris-clair-moyen;
                    &:hover{color: $orange-fonce;}
                }
            }
        }
    }
    .espace-taxe-apprentissage{
        ul{

            li{

                a{
                        background:$gris-clair;
                        &:hover{color: $orange-fonce;}
                }
            }
        }
    }
    .espace-vie-lycees{
        ul{

            li{

                a{
                     color:$gris-clair;
                     background:$gris-clair-moyen;
                    &:hover{color: $orange-fonce;}
                }
            }
        }
    }
}
/*$$$$$$---- PARTENAIRES ----$$$$$*/
.espace-partenaire{
     .nav-espace-partenaire{
        ul{
               @include horizontal-list-container;//Compass Mixin
            @include break;
            padding:0 0 0 0.6em;
            li{
                @include horizontal-list-item;//Compass Mixin
                a{}
            }
        }
    }
}
#bloc-2,#bloc-3,#bloc-4,#bloc-5{
    h3{
        color: $rose-fushia;
    }
}
.espace-partenaire{
    .part-institutionnels,.part-associatifs,.part-branches,.part-particuliers{
         ul{
            @include horizontal-list-container;//Compass Mixin
            @include break;
            padding:0 0 0 0.6em;
            li{
                @include horizontal-list-item;//Compass Mixin
                
                background: $gris-clair;
                min-height:em(170px);
                min-width:em(125px);
                img{
                    //@include gallery(2 of 12);
                }
                span{display: block;}
                div.views-field-title span {
                    @include cesure-txt;
                }
                a{}
            }
        }
    }
}