// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE ASSOCIATION               |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}


/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
== STYLE SPAN LYCEE CONTENU (reprise code visuel lycée) ==
*/
span.celony{color: black;background: #c8d215;padding: 0 em(2px);}
span.caucadis{color: black;background: #9c9e9f;padding: 0 em(2px);}
span.brise-lames{color: black;background: #00ACD1;padding: 0 em(2px);}
span.le-rocher{color: black;background: #970F7D;padding: 0 em(2px);}
span.gasquet{color: black;background: #E2017B;padding: 0 em(2px);}
span.grawitz{color: black;background: #F09500;padding: 0 em(2px);}
span.rostand{color: black;background: #E3001C;padding: 0 em(2px);}
span.pf{color: black;background: #E85231;padding: 0 em(2px);}

#colonne-2.page-association{
    @include breakpoint ($desktop){
        @include border-L-bleu
    }
}

.page-association{
    p, ul{
        padding: em(5px);
        margin: 0;
        list-style-position: inside;
    }
    h3, h2{
        color: $orange-fonce;
        padding: em(2px);
    }
    h2{
        text-align: center;
    }
    h4{
        color: $violet;
        padding: em(2px);
        text-indent: em(3px);
    }
    a{ 
        text-decoration: none;
        color:$orange-fonce;
        &:hover{color:$violet; }
    }
    
    table{
        width:98%;margin:0 auto;
        tbody{border: 0;
              tr{
               &:nth-child(odd){
                  color: #606171;
                  background: #ACC624;
              }
              &:nth-child(even){
                  color: #E85231;
                  background: white;
              }
              }
              
        }
        
    }
    
} 
.title-association{
    text-align: right;
    color: $orange-fonce;
    font-size: em(24px);
}

/*Contenu du QT pour afficher temoignage anciens élèves sur page association*/
#centre-asso h2{
    text-align: left;
}
#centre-asso h3{
    color: #E2017B;
}
#centre-asso li.active a {
    color: white;
}
#centre-asso a:hover{}
#centre-asso img{}
//Formulaire telechargement dossier prepas
.page-association aside.bloc-dossier-prepas{
    form{
        background: url(../images/bg_nav_backoffice.gif) repeat scroll left top;
        
        padding: 0.3em;
        width: 65%;
        margin: 0 auto;
        @include arrondis;
    }
    h3{color: $bleu-turquoise;}
    label{font-size: smaller;}
    p{padding: 0;margin: 0;}
    input[type="text"],input[type="email"],input[type="submit"],select{
          width: 98%;display: block;
      }
    input[type="submit"]{
          margin: 0 auto;  display: block;
          @include cesure-txt;
    }
    .form-item{margin-bottom: 0.5em;margin-top: 0.5em;}
}