// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-----------------------------------------------|
|       CONTENU CUSTOM NODE.TPL          |
|       PAGE PARTENAIRES-ENTREPRISES    |
|----------------------------------------------*/

 //@include breakpoint ($mobile){}
  //@include breakpoint ($desktop){}
  //@include breakpoint ($tablet){}
  #colonne-2.page-partenaires{
      @include breakpoint ($desktop){
          @include border-L-bleu;
      }
  }
  .titre_partenaires{
      color: $orange-fonce;
  }  
.page-partenaires{
    img{
        padding: 10px;
    }
    a{
        text-decoration: none;
        color: #02A7D5;
    }
    &a:hover{
        text-decoration: underline;
    }
    b,strong{
        color: $gris-anthracite;
        padding: 0.3em;
    }
    h2{
        color: $violet;
    }
    h3{
        color: $bleu-turquoise;
    }
    
}   
/*NAV SUPERFISH sur Mobile pour bien centrer*/
aside#block-superfish-2{
    width: 98%;
    margin: 0 auto;
    select{
        width: 100%;
    }

}
  /*BLOC BOUTONS PARTENAIRES*/
  table#table-bouton-partenaire{
      width: 13.4em;
      margin: 0 auto;
      padding: 0;
      border: 0;
      clear: both;
      tbody,img{
          border: 0;

      }
      a{
          color: white;
          font-family: Arista,Trebuchet MS,sans serif;
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          font-size: large;
          height:auto;
          padding:em(11px) em(7px);
          width:auto;
      }
  }

#table-bouton-partenaire td.stage a{
    background: url("../images/bt_proposer_stage.jpg") no-repeat top left;
    display: block;
    }
#table-bouton-partenaire td.stage a:hover{
    background: url("../images/bt_proposer_stage_hover.jpg") no-repeat top left;
   }
#table-bouton-partenaire td.objectif a{
    background: url("../images/bt_objectif_reussite.jpg") no-repeat top left;
    display: block;
    margin: em(5px) 0;
}
#table-bouton-partenaire td.objectif a:hover{
    background: url("../images/bt_objectif_reussite_hover.jpg") no-repeat top left;
    }

    
#formulaire_partenaire{
        width: 98%;
        margin: 0 auto;
        padding:em(5px) 0;
        /*Champs formulaire RWD*/
        form,input[type="text"],input[type="email"]{
            width: 98%;display: block;
        }
        input[type="text"]#edit-submitted-duree-du-stage,
        input[type="text"]#edit-submitted-remuneration{
            width: 45%;display: block;float: left;
        }
    }





/*Contenu du QT pour afficher temoignage partenaires*/
#centre-partenaire{
    h3{
        color: $rose-fushia;
        margin: em(5px);
    }
    .cartouche{
        padding: em(3px);
        background: $gris-clair;
        margin: 3px 0;
        font-size: x-small;
        color: $gris-anthracite;
    }
    p{
        margin: 0;
    }
}

#centre-partenaire img.portrait,#middle-content-partenaire img.portrait{
    border: em(2px) solid $vert;
    padding: em(5px);
}

/*Contenu du QT pour afficher temoignage anciens élèves sur page association*/
#centre-asso {
    h2{
        text-align: left;
    }
    h3{
        color: #E2017B;
    }
    li.active a {
        color: white;
    }
    a{
        &:hover{}
    }
    img{}
}

/*----- Liste partenaires associatifs vue ------*/
#liste_part_asso{
    ul{
        list-style: none;
    }
    li{
        margin: 3px 0;
        padding: 5px;
        background: #EFEFEF;
    }
    li a{
        font-weight: bold;
        text-decoration: none;
    }
    li a:hover{
        color: white;
        background: #E85231;
    }
}